@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #e4e4e4;
}

html {
  background-image: linear-gradient(
      135deg,
      rgba(64, 91, 230, 0.7),
      rgba(110, 104, 158, 0.8)
    ),
    url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}

.form-conteiner {
  background-color: rgba(26, 16, 58, 0.7);
  border-radius: 5px;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
}

@media (max-width: 950px) {
  .form-conteiner {
    max-width: 650px;
  }
}

.container {
  text-align: center;
  font-size: 24px;
}

.header {
  padding-top: 45px;
}

.header__paragraph {
  padding-top: 13px;
  font-style: italic;
}

.survey-form {
  padding-bottom: 75px;
}

.survey-form__info {
  padding: 40px 50px 0px;
  text-align: left;
}

.survey-form__info:last-child {
  padding: 25px 50px 0px;
}

.new-line:after {
  content: "\a";
  white-space: pre;
}

.line-gap {
  margin-top: 10px;
}

.additional-info {
  font-size: 16px;
}

input[type="radio"] {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

input[type="checkbox"] {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}

.survey-form__info--input-box {
  margin-top: 10px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  padding-left: 10px;
}

.survey-form__info--input-box:focus {
  border-color: #80bdff;
  box-shadow: 0 0 0 4px rgba(51, 141, 236, 0.4);
  outline: 0;
}

.survey-form__info--suggestion-area {
  margin-top: 10px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  font-size: 20px;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
}

.survey-form__info--select {
  color: #495057;
}

.survey-form__submit {
  display: block;
  width: 100%;
  height: 60px;
  background-color: #37af65;
  font-size: 20px;
  cursor: pointer;
  border-radius: 5px;
}
